@font-face {
    font-family: Cone; /* Гарнитура шрифта */
    src: url(cone/Cone.ttf); /* Путь к файлу со шрифтом */
   }

body {
	font-family: Cone;
}   
   
#field {
	height: 504px;
	width: 504px;
	outline: 3px solid black;
	background:
		linear-gradient(#DCDCDC 0px, #DCDCDC 1px, transparent 1px),
		linear-gradient(90deg, #DCDCDC 0px, #DCDCDC 1px, transparent 1px);
	background-size: 9px 9px;
	background-position: left top;
	background-repeat: repeat;
	opacity: 1;
	position: relative;
}

#snakeHead {
	width: 9px;
	height: 9px;
	background: black;
	position: absolute;
		top: 293px;
		left: 5px;
	z-index: 99;
}

.tail {
	width: 9px;
	height: 9px;
	background: black;
	z-index: 99;
	position: absolute;
}


.apple {
	width: 9px;
	height: 9px;
	z-index: 999;
	background: red;
	position: absolute;
}

#score {
	margin-top: -10px;
	padding-top: 0;
	font-size: 80px;
}
#score span {
	padding-left: 20px;
}

.over {
	font-size: 100px;
	color: white;
	position: absolute;
		top: 175px;
		left: 35px;
	display: block;
}